#!/bin/bash

sudo yum update -y
sudo adduser ansible
sudo passwd -d ansible
sudo usermod -aG wheel ansible
sudo su - ansible
mkdir .ssh
chmod 700 .ssh
touch .ssh/authorized_keys
chmod 600 .ssh/authorized_keys
echo "${ansible_key}" > .ssh/authorized_keys