#!/bin/bash

sudo yum update -y
sudo adduser ansible
sudo passwd -d ansible
sudo usermod -aG wheel ansible

sudo mkdir /home/ansible/.ssh
sudo chmod 700 /home/ansible/.ssh
sudo touch /home/ansible/.ssh/authorized_keys
sudo chmod 600 /home/ansible/.ssh/authorized_keys
sudo echo "${ansible_key}" > /home/ansible/.ssh/authorized_keys
sudo chown -R ansible /home/ansible/.ssh